<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Robert Nyman</string>
	<key>CFBundleDisplayName</key>
	<string>HTML Validator</string>
	<key>CFBundleIdentifier</key>
	<string>com.robertnyman.htmlvalidator</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>bar.html</string>
				<key>Label</key>
				<string>HTML Validator</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>hello.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>page.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Validates the HTML code of the current page</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://robertnyman.com</string>
</dict>
</plist>
